<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="show_sql">true</property>
        <property name="format_sql">false</property>
        <property name="use_sql_comments">true</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="connection.release_mode">after_transaction</property>

        <property name="hibernate.connection.provider_class">
            org.hibernate.hikaricp.internal.HikariCPConnectionProvider
        </property>
        <property name="hibernate.hikari.dataSourceClassName">org.postgresql.ds.PGSimpleDataSource</property>
        <property name="hibernate.hikari.dataSource.url">jdbc:postgresql://localhost:5432/simple</property>
        <property name="hibernate.hikari.dataSource.user">docker</property>
        <property name="hibernate.hikari.dataSource.password">docker</property>
        <property name="hibernate.hikari.minimumIdle">1</property>
        <property name="hibernate.hikari.maximumPoolSize">50</property>
        <property name="hibernate.hikari.idleTimeout">30000</property>
        <property name="hibernate.jdbc.lob.non_contextual_creation">true</property>

        <mapping class="by.entity.base.User"/>
        <mapping class="by.entity.base.CarAd"/>
        <mapping class="by.entity.base.Image"/>
        <mapping class="by.entity.base.Telephone"/>

    </session-factory>
</hibernate-configuration>